body {
    text-align: center;
}

.setting {
	width: 505px;
	margin: 0 auto;
}

.title {
	font-weight: bold;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

img {
	cursor: pointer;
}

th {
	text-align: right;
}

.hide-row {
	display: none
}

.red-text {
	color: red;
}